# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.meta
optimizer
deoptimizer

#Statistics
*.csv
*.txt

#Eclipse
.cproject
.project
